<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/history.css" />
    <title>History</title>
  </head>
  <body>
    <nav>
      <div>
        <a href="index.html">
          <img class="logo" src="../images/Logo.png" alt="logo" />
          <img class="logo" src="../images/Logo2.png" alt="logo-2" />
        </a>
      </div>
      <ul>
        <li><a href="history.html">01.HISTORY</a></li>
        <li><a href="team.html">02.TEAM</a></li>
      </ul>
    </nav>
    <img class="peak" src="../images/peak.png" alt="peak" />
    <div class="box">
      <div class="num">01.</div>
      <div class="history">HISTORY</div>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in ante
        viverra, rutrum erat rutrum, consectetur mi. Proin at maximus est.
        Nullam purus ex, iaculis sed erat sed, blandit tincidunt quam. Cras
        scelerisque id quam sed dignissim Pellentesque urna nunc, gravida quis
        hendrerit ac, tristique ut quam. Vivamus suscipit dignissim tortor nec
        congue.
      </p>
    </div>
    <div class="container">
      <div class="img-box">
        <img class="rec" src="../images/r01.png" alt="r01" />
        <img class="rec" src="../images/r02.png" alt="r01" />
        <img class="rec" src="../images/r01.png" alt="r01" />
        <img class="rec" src="../images/r02.png" alt="r01" />
      </div>
    </div>
    <div class="footer">
      <div>
        <img class="logo" src="../images/Logo.png" alt="logo" />
        <img class="logo" src="../images/Logo2.png" alt="logo-2" />
      </div>
      <div class="footer-text">COPYRIGHT 2016. ALL RIGHTS RESERVED</div>
    </div>
  </body>
</html>
